* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
    background: url('/assets/img/background.jpg');
    width: 100%;
    height: 100dvh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);

}

.header {
    background-color: rgba(14, 66, 236, 0.15);
    border: 1px solid rgba(14, 66, 236, 0.15);
    backdrop-filter: blur(10px);
    color: aliceblue;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hamburger-menu {
    font-size: 25px;
    position: absolute;
    left: 25px;
    cursor: pointer;
}


.logo {
    position: absolute;
    left: 60px;
    top: 0;

}

.shikhar {
    width: 70px;
    height: 50px;
}




.weather-navbar {
    width: 250px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.weather-navbar li {
    width: 100%;
}

.weather-navbar li a {
    width: 100%;
    color: aliceblue;
    text-decoration: none;
}

.weather-navbar li a:active {
    color: orange;
}

.follow {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-us {
    margin: 0 10px;
    font-size: 15px;
    color: aliceblue;
}

.social-section {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.social-icons li {
    list-style: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-icons a {
    color: aliceblue;
    font-size: 15px;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: orange;
}

.sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    height: 92vh;
    width: 180px;
    z-index: 999;
    background-color: rgba(14, 66, 236, 0.15);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.close {
    font-size: 25px;
    position: absolute;
    left: 25px;
    cursor: pointer;
    display: none;
}

.sidebar li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

.sidebar li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
    width: 100%;
    height: 40px;
}

.sidebar li a:active {
    color: orange;
}

.sidebar li a:hover {
    background-color: rgba(14, 66, 236, 0.15);
}



.main-container {
    border: 1px solid rgba(14, 66, 236, 0.15);
    width: 300px;
    height: 496px;
    background: linear-gradient(rgba(14, 66, 236, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
    margin: 23px 0;


}

.input-container {
    margin-bottom: 20px;

}


.input-city {
    color: aliceblue;
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    border: 3px solid transparent;
    background: rgba(155, 119, 119, 0.15);
    outline: none;
}

.input-city::placeholder {
    color: aliceblue;
}


.search-btn {
    position: absolute;
    right: 40px;
    top: 30px;
    background: none;
    border: none;
    color: aliceblue;
    cursor: pointer;

}

.search {
    width: 25px;
}



.location-date {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
}

.location-png {
    width: 40px;
}

.weather-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.drop {
    width: 30px;
}

.weather-summary-img {
    width: 150px;
    height: auto;


}

.celcius-info {
    color: aliceblue
}

.humidity-wind {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.humidity-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}



.humidity-txt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wind-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.wind-txt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.windpng {
    width: 40px;
}

.future-pre {

    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 10px;
    padding: 10px 0;
}

.future-pre::-webkit-scrollbar {
    height: 8px;
}

.future-pre::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 99px;
}

.future-pre::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 99px;
}

.forcast-box {
    min-width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(14, 66, 236, 0.15);
    background: linear-gradient(rgba(14, 66, 236, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 8px;
}

.thunderstorms {
    width: 70px;
}

.footer {
    background-color: rgba(14, 66, 236, 0.15);
    backdrop-filter: blur(10px);
    width: 100%;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(14, 66, 236, 0.15);
    font-size: 13px;
    color: #777;
}

@media(max-width:1024px) {
    .main-container{
    border: 1px solid rgba(14, 66, 236, 0.15);
    width: 400px;
    height: 496px;
    background: linear-gradient(rgba(14, 66, 236, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
    margin: 381px 0;
    }
}

@media(max-width:767px) {

    .logo {
        position: absolute;
        left: 150px;

    }

    .shikhar {
        width: 70px;
        height: 67px;
    }

    .sidebar {
        position: fixed;
        top: 67px;
        left: 0;
        height: 100vh;
        width: 180px;
        z-index: 999;
        background-color: rgba(14, 66, 236, 0.15);
        backdrop-filter: blur(10px);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .header {
        height: 70px;
    }

    .weather-navbar {
        display: none;
    }

    .follow {
        display: none;
    }
}

